<div *ngIf="categoriesList.length == 0">
    <h4>Sem resposta do backend.</h4>
    <p>Verificar se os containers do backend estão ativos antes de ativar o container do frontend.</p>
</div>
<div *ngIf="categoriesList.length > 0">
    <p>Lista de Categorias (retorno do backend)</p>

    <div class='panel-body'>  
        <div class='table-responsive'>  
            <table class='table'>  
                <thead>  
                    <tr>  
                        <th>Código</th>  
                        <th>Categoria</th>  
                    </tr>  
                </thead>  
                <tbody>  
                    <tr *ngFor="let category of categoriesList;">  
                        <td>{{category.id}}</td>  
                        <td>{{category.no_category}}</td>    
                    </tr>  
                </tbody>  
            </table>  
        </div>  
    </div>  
</div>
